:root {
    --hover-color: lightgray;
    --header-color: #169cc0;
    --blue-hover: #1389a9;
    --slide-color: #1f1f1f;
    --subheading-color: #4a4a49;
    --off-white: #f9fafc;
    
    --icon-subheading: #b7b7b7;
}

html {
    background: var(--off-white); 
}

body {
    margin: 0;
    margin-top: 70px;
    font-family: 'Open Sans', sans-serif;
}

.white-panel {
    width: 100%;
    height: 500px;
    
    text-align: center;
}

.website-title {
    text-align: center;
    padding-top: 90px;
    
    font-size: 140px;
    font-weight: 500;
}

.site-name {
    color: var(--header-color);
    letter-spacing: 1px;
    font-family: 'Oleo Script','Open Sans';
}

.sub-heading {
    text-align: center;
    margin-top: -110px;
    
    color: var(--subheading-color);
    font-size: 30px;
    word-spacing: 2px;
}

.btn-start {
    width: 200px;
    height: 50px;
    padding-bottom: 5px;
    
    color: var(--off-white);
    background: var(--header-color);
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    
    border-style: none;
    outline: none;
    border-radius: 25px;
}

.btn-start:hover {
    background: var(--blue-hover);
    cursor: pointer;    
}

.grey-panel {
    width: 100%;
    height: auto;
    
    background: #333;
}

.btn-close-about {
    position: absolute;
    right: 10px;
    top: 5px;
    
    
    font-size: 64px;
    text-decoration: none;
    color: #000;
    
}

.btn-close-about:hover {
    color: white;
}

.navHeading {
    color: #edfcfc;
    font-size: 32px;
    float: left;
    display: block;
    margin-top: 20px;
    margin-left: 54px;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
}

.navItem {
    float: right;
}

.navItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 12px;
    margin-left: 24px;
    font-size: 16px;
}

.navItem a:hover {
    color: var(--hover-color);
}

#navLogin {
    font-size: 16px;
    margin-right: 54px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 12px;
    margin-left: 24px;
    border: none;
    background: none;
    outline: none;
}
#navLogin:hover {
    color: var(--hover-color);
    cursor: pointer;
}

#slideMenuBtn {
    display: none;
    float: right;
    margin-right: 32px;
    margin-top: -4px;
    color: white;
    padding: 5px;
    font-size:48px;
    cursor: pointer;
}

#slideMenuBtn:hover {
    color: var(--hover-color);
}

#categoryContainer {

  height: 100%; /* 100% Full-height */
  width: 0; /* 200 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: var(--slide-color); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#categoryContainer .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 64px;
  margin-left: 50px;
  color: #818181;
  text-decoration: none;
}

.sideList {
    list-style: none;
    margin:auto;
    margin-top: 70px;
    
}

.sideItem {
    margin-top: 20px;
    padding: 10px;
    font-size: 32px;
    text-align: right;
}

.sideItem a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sideItem a:hover {
    color: var(--hover-color);
}

/*The description headings*/
.about-div {
    background: #333;
}

.descriptionDiv {
   margin-top: 220px;
   display: block;
   background: #333;
}

.cloud-img {
   margin: auto;
   margin-top: 20px;
   display: block;
    
   width: 400px;
}



.headingsDiv {
    margin-left: 54px;
    width:40%;
    float: left;
}

.heading {
  font-size: 40px;    
  margin-bottom: 10px;
  color: var(--header-color);
}

.subHeading {
  font-size: 22px;
   margin-bottom: 100px;
  color: var(--subheading-color);
}

.how-div {
    clear: both;
    float: right;
    width: 40%;
    margin-right: 54px;
    
}

.how-heading {
  font-size: 40px;    
  margin-bottom: 10px;
  color: var(--header-color);
}

.how-subheading {
  font-size: 22px;
  margin-bottom: 100px;
  color: var(--subheading-color);
}

.iconsList {
    clear: both;
    width: 90%;
    margin: auto;
    text-align: center;
    
    list-style-type: none;
}

.iconBox {
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    width: 27%;
    padding: 14px 16px;
    margin-right: 20px;

    text-decoration: none;
}

.iconContent {
    text-align: center;
}

.icon {
    min-width: 100px;
    
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(205deg) brightness(105%) contrast(100%);
}

#icon-jar {
    width: 20%;
}

#icon-connect {
    width: 210px;
}

#icon-rem {
    width: 200px;
}

.iconHeading {
    margin-top: 2px;
    
    color: #FFF;
    font-family: 'Oleo Script', 'Open Sans', sans-serif;
    font-size: 32px;
}

.iconSubheading {
    margin-top: -20px;
    
    color: var(--icon-subheading);
    font-family: 'Open Sans', sans-serif;
}



/*MOBILE*/
@media only screen and (max-width: 773px) {
    /*Shrink tab header*/
    .navHeading {
        font-size: 24px;
        margin-top: 22px;
    }
    /*Remove nav items to replace with slideout menu*/
    .navItem {
        display: none;
    }
    /*Show slideOutMenuBtn*/
    #slideMenuBtn {
        display: block;
    }

    /*Make home heading/subheading larger*/
    .descriptionDiv {
        margin-top: 150px;
    }
    .how-container {
    }
    
    .headingsDiv, .how-div {
        float:none;
        width: 90%;
        margin: auto;
    }
    .heading, .how-heading {
        font-size: 32px;
    }
    /*Stack and chang width% of icons*/
    .iconBox {
        display: block;
        width: 90%;
        margin-top: 40px;
        padding-top: 50px;
    }
    
    .iconHeading {
        font-size: 40px;
    }
    .iconSubheading {
        margin-top: -35px;
        
        font-size: 22px;
    }
    
    .white-panel {
        height: 350px;
    }
    
    .website-title {
        padding-top: 80px;
        font-size: 88px;
    }
    
    .sub-heading {
        margin-top: -70px;

        font-size: 24px;
    }


}

/*Back to desktop*/
@media only screen and (min-width: 609px) {
    /*Delete slideout menu*/
    #categoryContainer {
        display: none;
    }
}
