:root {
    --hover-color: lightgray;
    --header-color: #169cc0;
    --slide-color: #1f1f1f;
    --subheading-color: #4a4a49;
    --weirdwhite: #f9fafc;
    --listcolor: #d6d5d3;
    --linkcolor: #068ae3;
}

body {
    margin: 0;
    font-family: 'Open Sans',sans-serif;
    background: var(--weirdwhite);
}
.container {
    width: 100%;
    margin: auto;
}

.keyword {
    color: var(--header-color);
    font-family: 'Oleo Script', 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 64px;
}

.basicHeader {
    text-align: center;
    font-size: 38px;
    width: 100%;
    color: var(--header-color);
    font-family: 'Oleo Script', 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

.loginPhoto {
    width: 100%;
    height: auto;
}

.subHeading {
    text-align: center;
    font-weight: 100;
    margin-top: -25px;
    color: var(--subheading-color);
}

.closeButton {
    position: absolute;
    font-size: 36px;
    text-decoration: none;
    color: #000;
    right: 0px;
    margin-right: 12px;
}

.infoHeader {
    color: white;
    font-size: 58px;
    width: 80%;
    padding-left: 54px;
    padding-top: 200px;
}

.catchPhraseList {
    list-style: none;
    display: block;
    padding-left: 54px;
    margin-top: -20px;
}

.catchPhrase {
    color: var(--listcolor);
    padding-top: 15px;
    font-size: 28px;
    
}

#infoDiv {
    width: 40%;
    height: 100vh;
    background-color: #333;
    float: left;
}

#loginDiv {
    width: 60%;
    height: 100vh;
    background-color: var(--weirdwhite);
    float: left;
}

#registerContainer {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top:100px;
    padding: 15px;
    background-color: none;
    display: none;
}

#registerEmail, #registerPassword, #registerUsername, #registerFirstname, #registerLastname, #loginEmail, #loginPassword, .inputField {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:  1px solid gray;
    background: none;
    padding: 5px;
    outline: none;
    width: 70%;
    font-size: 24px;
}

#registerEmail, #loginEmail {
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

#registerPassword, #loginPassword {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

#registerUsername {
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

.inputField {
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

#registerSubmit, #loginSubmit {
    margin: auto;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 15px;
    display: block;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    background: #333;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
}

#loginHrefBtn {
    border: none;
    margin: auto;
    display: block;
    color: var(--linkcolor);
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

#loginContainer {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top:200px;
    padding: 15px;
    background-color: none;
}

#registerHrefBtn {
    border: none;
    margin: auto;
    display: block;
    color: #068ae3;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

@media only screen and (max-width: 790px) {
    #infoDiv {
        display: none;
    }

    #loginDiv {
        
        width: 100%;
        margin-top: 50px;
    }
    
    #registerSubmit, #loginSubmit {
        width: 75%;
    }

    #registerContainer, #loginContainer {
        margin-top: 5px;
    }
    
    #registerEmail, #registerUsername, #registerPassword, #registerUsername, #registerFirstname, #registerLastname, #registerQuestion, #loginEmail, #loginPassword {
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 20px;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 10px;
    }
    
    .questionContainer {
        margin-top: 30px;
    }
    
    #secretQuestion {
        font-size: 18px;
    }

    .basicHeader {
        font-size: 32px;
    }
    
    .subHeading {
        font-size: 15px;
        margin-top: -20px;
    }

}