:root {
   --my-blue: #96dff3;
   --blue-hover: #1389a9;
}

.highlight {
    background: #3b3b3a;
    color: #fff;
}

#headings {
    margin-top: 150px;
}

.mainHeading {
    display: block;
    float: left;
    padding-left: 54px;
    font-size: 40px;
/*    color: var(--header-color);*/
    color: #333;
}





/*TESTING NEW JAR CONTAINER (VECTR)*/
#jarContainer {
  height: 100%; /* 100% Full-height */
  width: 300px; /* 200 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #333; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.container-header {
    padding-left: 20px;
    padding-top: 60px;
    
    font-size: 48px;
    color: var(--my-blue);
    font-family: 'Oleo Script';
    letter-spacing: 1px;
}

.sub-icon{
    padding-left: 18px;
    margin-top: -30px;
    
    font-size: 26px;
    color: #FFF;
    font-family: 'Oleo Script';
}

.sub-icon:hover {
    cursor: pointer;
    color: gray;
}

.jar-title-list {
    margin-top: -10px;
    list-style: none;
}

.jar-title-item {
    padding: 10px;
    margin-left: -30px;
    font-size: 22px;
    
    color: lightgray;
    font-family: 'Open Sans';
}

.jar-title-item a {
    text-decoration: none;
    font-weight: bold;
    color: #e8ecf4;
    letter-spacing: 1px;
    word-wrap: break-word;
}

.jar-title-item:hover {
    background: #000;
    cursor: pointer;
}

.pending-header {
    padding-left: 18px;
    margin-top: 30px;
    
    font-size: 26px;
    color: var(--my-blue);
    font-family: 'Oleo Script';
}

#pending-invite-list {
    margin-top: -30px;
    list-style: none;
}

.pending-jar-item {
    position: relative;
    padding: 10px;
    margin-left: -30px;
    font-size: 22px;
    
    color: lightgray;
    font-family: 'Open Sans';
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    word-wrap: break-word;
}

.pending-jar-item:hover {
/*    background: #000;*/
}

.btn-checkmark {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: auto;
    margin-top: 5px;
    margin-right: 65px;
    
    font-size: 22px;
}

.btn-xmark {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: auto;
    margin-right: 20px;
    
    font-size: 30px;
}


.btn-checkmark:hover, .btn-xmark:hover {
    color: #000;
    cursor: pointer;
}
/*END TESTING NEW JAR CONTAINER (VECTR)*/





#addJar {
    font-size: 48px;
    display: block;
    float: left;
    padding-left: 15px;
    padding-top: 22px;
}

#addJar:hover {
    color:grey;
    cursor: pointer;
}

.jarList {
    width: 100%;
    display: table;
    list-style: none;
    text-align: center;
    margin: 0
}

.jar-container {
    width: 170px;
    height: 230px;
    text-align: center;
    position: relative;
    margin: auto;
}

.test-img {
    width: 100%;
    height: 100%;

filter: invert(23%) sepia(56%) saturate(1348%) hue-rotate(299deg) brightness(92%) contrast(94%);



/*    filter: invert(66%) sepia(38%) saturate(7254%) hue-rotate(84deg) brightness(120%) contrast(121%);*/
}
.test-header {
    font-size: 16px;
    position: absolute;
    top: 45px;
    width: 100%;
    word-wrap: break-word;
    padding: 1px;
    color: #902c50;
    font-family:'Merienda', cursive;
}

.jarItem {
/*
    display: table-cell;
    float: left;
    width: 20%;
    margin: auto;
    padding: 30px;
    border: 1px solid green;
*/

    width: 20%;
    float: left;
    padding-top: 50px;
    text-align: center;
    
}

.jarImg {
    width: 120px;
    margin: 0 auto;
}

.jarImg:hover {
    background: red;
    cursor: pointer;
}

.jarTitle {
    width: 80%;
    margin: auto;
    text-align: center;
    word-break: break-all;
    padding-bottom: 5px;
}

/*The modal background*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/*Modal content*/
.modal-content {
    position: relative;
    background-color: #f9fafc;
    margin: auto;
    margin-top: 100px;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    max-width: 900px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
#close-btn {
  position: absolute;
  right: 0;
  top: 0;
  color: #333;
  margin-right: 10px;
  font-size: 28px;
  font-weight: bold;
}

#close-btn:hover,
#close-btn:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: var(--header-color);
}

#modal-body {
    width: 100%;
    display: table;
    height: 300px;
    font-family: 'Open Sans', sans-serif; 

}

.modal-footer {
  padding: 2px 16px;
  background-color: #e8ecf4;
  color: #FFF;
  height: 80px;
}

.footer-btn {
    color: #FFF;
    background: none;
    border-style: solid;
    border-color: var(--header-color);
    border-radius: 35px;
    border: none;
    padding: 5px;
    width: 100px;
    height: 60%;
    font-size: 16px;
}

#footer-back-btn {
    float: left;
    margin-top: 18px;
    color: #A3B3D3;
    outline: none;
    border-radius: 0px;
    border: none;
    font-size: 13px;
}

#footer-next-btn {
    float: right;
    background: var(--header-color);
    margin-top: 17px;
    color: #FFF;
}

#footer-done-btn {
    float: right;
    background: var(--header-color);
    margin-top: 17px;
    color: #FFF;
}

#footer-back-btn, #footer-next-btn:hover {
    cursor: pointer;
}

#footer-back-btn:hover {
    border-bottom: 1px solid #A3B3D3;
}

#footer-next-btn, #footer-done-btn:hover {
    background: var(--blue-hover);
    cursor: pointer;
}


.inline-container {
    display: table;
}

.jarInput {
    width: 55%;
    margin:auto;
    margin-left: 48px;
    padding: 5px;
    font-size: 22px;
    margin-top: -5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid;
    background: none;
    outline: none;
    font-size: 18px;
    float: left;
}

.modal-img {
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 100px; 
    margin-right: 10%;;
}

.modalCreate {
    position: relative;
    width: 50%;
    height: 350px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    display: table-cell;
    border-right: 1px solid #333;
}

.modalJoin {
    position: relative;
    width: 50%;
    height: 350px;
    text-align: center;
    overflow: hidden;
    display: table-cell;
}

.choiceHeader {
    text-align: center;
    color: var(--header-color);
    font-family: 'Oleo Script','Open Sans', sans-serif; 
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 5px;

}

.subChoiceHeader {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    color: var(--subheading-color)
}

.img {
    width: 100px;
}

.choiceButton {
    width: 50%;
    position:absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
    padding: 10px;
    margin-left: 25%;
    margin-bottom: 10px;
    color: white;
    background: var(--header-color);
    outline: none;
    border: none;
    border-radius: 15px;
}

.choiceButton:hover {
    cursor: pointer;
    background-color: var(--blue-hover);
}

.fullHeader {
    text-align: center;
    color: var(--header-color);
    font-family: 'Oleo Script','Open Sans', sans-serif; 
    letter-spacing: 1px;
}

.subDescription {
    width: 70%;
    color: var(--subheading-color);
    text-align: center;
    margin: auto;
    margin-top: -20px;
}

.smallHeader {
    color: var(--subheading-color);
    font-weight: 800;
    font-size: 14px;
    padding-left: 48px;
    margin-top: 80px;
}

/*For invite friends modal*/
#input-search-friends {
    outline: none;
    border: 1px solid var(--blue-hover);
    border-radius: 5px;
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    font-size: 22px;
}

#search-results-people {
    
}

.search-results {
    width: 50%;
    position: relative;
    margin: auto;
    margin-top: 15px;
    
    list-style: none;
}

.list-item-person {
    padding: 8px;
    padding-left: 5px;
    font-size: 16px;
    border-radius: 5px;
    
    color: var(--subheading-color);
}

.list-item-person:hover {
    background: #e8ecf4;
}

.btn-invite {
    position: absolute;
    margin-top: -4px;
    right: 3px;
    
    
    font-family: 'Open Sans', sans-serif;
    border: 1px solid var(--header-color);
    border-radius: 5px;
    padding: 5px;
    color: var(--header-color);
    background: #FFF;
}

.btn-invite:hover {
    cursor: pointer;
    background: var(--header-color);
    color: #FFF;
}

.hr-invite-modal {
    width: 70%;
}

.caps-subheading {
    width: 350px;
    margin: auto;
    
    color: var(--subheading-color);
    font-weight: 800;
    font-size: 14px;
    margin-top: 30px;
}

.div-invite-code {
    display: block;
    position: relative;
    width: 300px;;
    margin: auto;
}

#text-jar-id {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    
    padding: 5px;
    outline: none;
    border: 1px solid var(--hover-color);
    border-radius: 5px;
    background-color: #e8ecf4;
    font-size: 22px;
}


.btn-copy {
    position: absolute;
    top: 0;
    right: 0;
    width: 4.4em;
    margin-top: 14px;
    border: 1px solid var(--header-color);
    border-radius: 5px;
    padding: 4px;
    
    font-family: 'Open Sans', sans-serif;
    background: var(--header-color);
    color: #FFF;
    font-size: 15px;
}

.btn-copy:hover {
    cursor: pointer;
    background: var(--blue-hover);
}


/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 724px) {
  .jarItem {
    width: 50%;
  }
    
    .modal-content{
        width: 90%;
    }
    
    .choiceButton {
        width: 70%;
        left: -27px;
    }
    
    .search-results {
        width: 80%;
    }
    .btn-invite {
        right: 30px;
    }
    
    .caps-subheading {
        width: 90%;
    }
    .div-invite-code {
        width: 90%;
    }
    
}








.list {
    list-style: none;
    margin-left: -20px;
}

#memoryJars {
}

#membersList {
}

.listItem {
    padding: 10px;
    padding-left: 0px;
    color: #FFF;
}

.listItem:hover {
    background: #fff;
    cursor: pointer; 
}





