:root {
    --darkgray: #262625;
    --darkergray: #171717;
    --lightgrey: #4a4949;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#title {
    text-align: center;
    font-size: 48px;
    margin-top: 60px;
    color: white;
}
body {
    background-color: #446b57;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    border-color: var(--lightgrey);
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 32px;
    margin-right: 8px;
    cursor: pointer;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
/*  margin-left: 250px;*/
}

.basicHeader {
    text-align: center;
}

#loginContainer {
    display: none;
    position: fixed;
    right: 0;
    margin-right: 20px;
    border: 5px solid red;
    padding: 15px;
    background: linear-gradient(to bottom, white 70%, white 50%);
}

#registerContainer {
    display: none;
    width: 350px;
    height: 350px;
    
    position:fixed; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
    border: 5px solid red;
    padding: 15px;
    background: linear-gradient(to bottom, white 70%, white 50%);
    
    transition: opacity 2s;
    
    z-index: 5;
}



#loginEmail {
    display: block;
    margin-bottom: 10px;
}

#loginPassword {
    display: block;
}

#loginEmail, loginPassword {
    padding: 2px;
}

#loginSubmit {
    margin: auto;
    width: 80px;
    margin-top: 10px;
    padding: 2px;
    display: block;
}

#ifNewDiv {
    border: none;
    display: block;
}

#registerHrefBtn {
    border: none;
    margin: auto;
    margin-top: 20px;
    display: block;
    color: cornflowerblue;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
}

#registerEmail, #registerPassword, #registerUsername, #registerQuestion, #loginEmail, #loginPassword {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:  1px solid var(--lightgrey);
    background-color: white;
    padding: 2px;
    outline: none;
}

#registerEmail {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#registerPassword {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#registerUsername {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.questionContainer {
    border: 1px solid red;
    padding: 5px;
    margin-top: 20px;
}

#registerQuestion {
    display: block;
    padding: 2px;
    margin: auto;
    margin-bottom: 5px;
}

#secretQuestion {
    margin: auto;
    margin-bottom: 2px;
    word-wrap: break-word;
    text-align: center;
    text-align: center;
}

#registerSubmit {
    margin: auto;
    width: 80px;
    margin-top: 10px;
    padding: 2px;
    display: block;
}

#loginHrefBtn {
    border: none;
    margin: auto;
    margin-top: 20px;
    display: block;
    color: cornflowerblue;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
}

#logOutBtn {
    display: none;
}

.navHeading {
    display: inline-block;
    color: white;
}

#navBar {
    position: fixed;
    width: 100%;
    background-color: var(--darkergray);
    top: 0;
}

#slideMenuBtn {
    display:inline-block;
    padding: 5px;
    font-size:24px;
    cursor: pointer;
    padding-left: 10px; 
    color: white;
}

#loginNav {
   margin-right: 20px; 
   float: right;
   padding: 10px;
   font-size: 20px;
   cursor: pointer;
   color: white;
   background-color: transparent;
   border: none;
}

#categoryContainer {
/*
    border: solid 1px black;
    float: left;
    margin: auto;
    display: inline-block;
    min-width: 200px;
    max-width: 250px;
    min-height: 250px;
    word-wrap: break-word;
*/
    
  height: 100%; /* 100% Full-height */
  width: 0; /* 200 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#categoryContainer .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  text-decoration: none;
}

#categoryContainerHeader {
    color: #FFF;
    margin-left: 10px;
    font-size: 32px;
}

.category {
  padding: 5px 5px 5px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#addCatInput {
    margin-top: 10px;
    margin-left: 10px;
    background-color: #111;
    color: #818181;
    padding: 5px;
    border-color: #818181;   
    width: 80%;
}

#addCatBtn {
    background-color: #111;
    color: #FFF;
    border-color: #FFF;
    float: right;
    margin-right: 27px;
    margin-top: 5px;
}


.category:hover {
    cursor: pointer;
}

#searchBar {
    width:80%;
    padding: 5px;
    margin-left: 10px;
    border-color: #818181;
}

.headingDiv {
    width: 70%;
    margin: auto;
}

#postNewMemoryHeading {
    border: 1px solid var(--lightgrey);
    background-color: var(--lightgrey);
    border-radius: 5px;
    width: 250px;
    color: var(--darkergray);
    text-align: center;
    margin-bottom: 0px;
    padding: 5px 0px 5px 0px;
    display: none;
}

#newMemoryForm {
    width: 100%;
    height: 100%;
}

/*Hidden at first - changed in clickedCat()*/
#newMemory {
    border: 2px solid #262625;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    height: 350px;
    margin-bottom: 10px;
    display: none;
    background-color: var(--darkgray);
}

#newTitle {
    display: block;
    width: 70%;
    margin-left: 5px;
    margin-top: 10px;
}

#newDate {
    display: block;
    width: 150px;
    margin-left: 5px;
    margin-top: 10px;
}

#newDescription {
    display: block;
    width: 90%;
    margin-left: auto; margin-right: auto;
    margin-top: 10px;
    height: 55%;
    resize: none;
}

#newTitle, #newDate, #newDescription {
    border-color: var(--lightgrey);
    background-color: var(--darkgray);
    border-style:solid;
    border-radius: 5px;
    padding: 5px;
    color: #7d7c7c;
}

#newMemoryBtn {
    float: right;
    margin-right: 10px; margin-top: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border-style: solid;
    color: var(--lightgrey);
}

/*Hidden at first - changed in clickedCat()*/
#memoryContainer {
    width: 70%;
    margin: 0 auto;
    display: none;
}

.memoryBox {
    border: 1px solid var(--lightgrey);
    border-radius: 5px;
    margin: 2px;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: var(--darkgray);
}

.memoryTitle {
    word-wrap: break-word;
    display: block;
    margin-left: 20px;
    margin-right: 15px;
    color: white;
    margin-bottom: 2px;
}

.memoryDate {
    display: block;
    font-size: 15px;
    color: #adadad;
    margin-top: 5px;
    margin-left: 25px;
}

.memoryDescription {
    word-wrap: break-word;
    margin-left: 35px;
    margin-right: 20px;
    color: #adadad;
    line-height: 1.4;
}

#categoryHeader {
    font-size: 42px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-width: 570px) {
  #categoryContainer {
    
  }
  .category {}

    #newMemory {
        width: 99%;
    }
    #memoryContainer, .headingDiv {
        width: 100%;
    }
        #categoryContainer {
        width: 0;
    }
    
    #registerContainer {
        width: 250px;
    }
    
/*
    #loginContainer {
        width: 200px; height: 250px;
        position:fixed; it can be fixed too
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;
        max-width:100%;
        max-height:100%;
        overflow:auto;                   
    }
*/
}

@media only screen and (min-width: 600px) {
    #categoryContainer {
/*        width: 250px;*/
    }
    
    #main {
/*        margin-left: 250px;*/
    }
}